.reviews {
    position: relative;
    min-height: 470px;
    background-color: #ffffff;
    &__title {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #2e2e2e;
        text-transform: uppercase;
        padding-top: 51px;
    }
    &__divider {
        width: 148px;
        height: 1px;
        background-color: $main-color;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 17px;
    }
    &__subtitle {
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        color: #2e2e2e;
    }

    .carousel {
        padding-top: 31px;
        position: relative;
    }
    
    &__item {
        position: relative;
    }
    &__img {
        margin: 0 auto;
        left: 50%;
        transform: translate(-56%);
    }
    &__name {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
        line-height: 1.57;
        text-align: center;
    }
    
    
}

.slick-prev, .slick-next {
    position: absolute;
    top: 55px;

    img {
        width: 15px;
        height: 47px;
    }
}
.slick-prev {
    left: 39%;
    z-index: 1;
}
.slick-next {
    left: 58%;
    z-index: 1;
}