.reviews {
    min-height: 470px;
    background-color: burlywood;
    &__title {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: #2e2e2e;
        text-transform: uppercase;
        padding-top: 51px;
    }
    &__divider {
        width: 148px;
        height: 1px;
        background-color: $main-color;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 17px;
    }
    &__subtitle {
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        color: #2e2e2e;
    }

    .carousel {
        padding-top: 31px;
        width: 900px;
        margin: 0 auto; 
    }
    &__item {
        box-sizing: border-box;
    }
    &__text {
        box-sizing: border-box;
    }
    
    .slick-slide,
    .slick-active + .slick-active ~ .slick-active {
        display: block;
        padding: 150px 15px;
        background: #222;
        color: #fff;
        border-radius: 10px;
        
        transform: scale(.9);
        opacity: 0.7;
        
        transition: .5s ease ;
}

    .slick-active + .slick-active{
    transform: scale(1);
    opacity: 1;
    }
    
}